<% if user_signed_in? %>
  <div class="media">
    <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
    <div class="media-body">
      <%= render "tweets/form" %>
    </div>
  </div>
<% end %>
<div class="col-md-3"><% @tweets.each do |tweet| %>
    <div class="media">
      <%= gravatar_image_tag(tweet.user.email, size: 64, alt: tweet.user.name) %>
      <div class="media-body">
        <p><strong><%= tweet.user.name %></strong></p>
        <p><strong><%= tweet.user.username %></strong></p>
        <p><%= tweet.tweet %></p>
        <% if user_signed_in? %>
          <nav class="nav justify-content-center">
            <%= link_to tweet do %>
              <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to edit_tweet_path(tweet) do %>
              <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure you want to delete tweet?' } do %>
              <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></i></span>
          <% end %>
        </nav>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<!--</div>
<div>
<h1>Tweets</h1>
<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweet %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Tweet', new_tweet_path %>
</div>-->
