<p id="notice"><%= notice %></p>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-3">
      <%= render 'profile' %>
    </div>
  <% else %>
    <div class="col-md-3">
      <%= render 'trends' %>
    </div>
  <% end %>
  <div class="col-md-5">
    <%= render 'feed' %>
  </div>
  <div class="col-md-4">
    <%= render 'who-to-follow' %>
  </div>
</div>
